:root.theme-dark {
  --background-image: url(../images/cover-image-dark.png);
  --font-family: 'IBM Plex mono';
  --text-size: 18px;
  --background-color: rgb(0 0 40 / 1);
  --accent-color: rgb(255 0 112 / 1);
  --text-content-color: rgb(241 178 206 / 1);
  --button-color: rgb(255 0 112 / 1);
  --content-heading-color: rgb(255 0 112 / 1);
  --heading-color: rgb(219 0 255 / 1);
  --subheading-color: rgb(0 0 40 / 1);
}
